*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: none; */
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.hmain {
    width: 100%;
    height: 100%;
    font-size: 40px;
}
.image{
    width: 100%;
    height: 100%;
    margin: 5px;
}
.image img{
    width: 200px;
    height: 300px;
}
.booktaetal{
    width: 200px;
    height: 45px;
    font-size: 20px;
}
.book-wrapper{
    border: solid black 2px;
    margin: 4px;
    padding: 5px;
}
#search {
    position: fixed;
    right: 10px;
    top: 10px;
    /* border-radius: 10px; */
}